
#rech {
    float:right;
    width: 130px;
    height:45px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-size: contain;
    background-image:url('../images/searchicon.png');
    background-repeat: no-repeat;
    background-position:  -10px -1px;
    padding: 12px 20px 12px 40px;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#rech:focus {
    width: 30%;
}
