.prod{
    text-align: center;
}
.bare_rech{
    background-color: gainsboro;
    border-radius: 15px;
    padding-bottom: 18px;
    border-bottom-color: inherit;
}
.panierstyle{
    background: none;
    border: none;
}