{% extends 'base.html.twig' %}

{% block stylesheet %}


{% endblock %}

    {% block title %}Not Found{% endblock %}
    {% block body %}





<div id="d" class="text-center">


    <img style="width: 50%" src="{{ asset('bundles/images/smiley.png')}}" />
<br/><br/>
    <p>This page is <b>unavailable</b>. Make sure you used a correct Link.</p>
    <a class="btn btn-default"  href="/login" id="btn"  >Go to LOGIN page</a>



</div>




{% endblock %}
