{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="icon" type="image/png" href="bundles/images/Slogo.png"/>

    <style type="text/css">

        body {
            background-image:url("{{ asset('bundles/images/backgroundLogin2.jpg')}}");
            background-size: cover;
        }
        .form-control::-webkit-input-placeholder { color: white;opacity: 0.6 }  /* WebKit, Blink, Edge */
        .form-control:-moz-placeholder { color: white; opacity: 0.6}  /* Mozilla Firefox 4 to 18 */
        .form-control::-moz-placeholder { color: white; opacity: 0.6}  /* Mozilla Firefox 19+ */
        .form-control:-ms-input-placeholder { color: white;opacity: 0.6 }  /* Internet Explorer 10-11 */
        .form-control::-ms-input-placeholder { color: white; opacity: 0.6}  /* Microsoft Edge */

    </style>
{% endblock %}

{% block title %}Login{% endblock %}
{% block body %}
    <script type="text/javascript">


        $(document).ready(function() {

            localStorage.setItem('linkId','home');

        });




    </script>
<img src="bundles/images/Slogo.png" width="150px" height="150px"/>
    <form name="f" action="/login" class="form-horizontal" method="POST">
        <div class="inner-container">
            <div class="box">
                <div id="noblur">
                    <h1> Login </h1>
                    <input type="text" name="Pseudo" onkeyup="inputValid()" id="usrId" class="form-control"  placeholder="Pseudo" />
                    <input type="password" name="Password" id="pwdId" class="form-control" placeholder="Password"  />
                    {% if error is defined %}

                            <div class="alert alert-danger" style="width: 350px;margin-left:25px"role="alert">
                                <strong>Erreur !</strong> {{ error }}
                            </div>



                    {% endif %}
                    <input type="submit" id="btnCnx"  style="border:0;" class="btn btn-success" /><br/>

                </div>
            </div>
        </div>
    </form>
{% endblock %}
