{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style type="text/css">

        body {
            background-image:url("{{ asset('bundles/images/backgroundLogin2.jpg')}}");
            background-size: cover;
        }
    </style>
{% endblock %}
{% block title %}Login{% endblock %}
{% block body %}



    <form name="f" action="/login" class="form-horizontal" method="POST">
        <div class="inner-container">
            <div class="box">
                <div id="noblur">
                    <h1> Login </h1>
                    <input type="text" name="Pseudo" onkeyup="inputValid()" id="usrId" class="form-control" placeholder="Pseudo" />
                    <input type="password" name="Password" id="pwdId" class="form-control" placeholder="Password"  />
                    {% if error is defined %}

                            <div class="alert alert-danger" style="width: 350px;margin-left:25px"role="alert">
                                <strong>Erreur !</strong> {{ error }}
                            </div>



                    {% endif %}
                    <input type="submit" id="btnCnx" style="border:0;" class="btn btn-success" /><br/>

                </div>
            </div>
        </div>
    </form>
{% endblock %}
