{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}

<nav class="navbar navbar-inverse" style="background-image:url('{{ asset('bundles/images/backgroundLogin.jpg')}}');
    background-size: cover;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SebCom</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;</a></li>

            <li><a href="ajoutcat.php">Gestion categories</a></li>
            <li><a href="#">Gestion articles</a></li>
            <li><a href="#">Gestion livreurs</a></li>
            <li><a href="#">Gestion des commandes</a></li>
            <li><a href="#">Gestion des promotions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            {% if name is defined %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ name }}</a></li>
            {% endif %}
            

            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
        </ul>
    </div>
</nav>


{% endblock %}

