{% extends 'navbar.html.twig' %}
{% block body %}

    <div id="content"></div>

<script type="text/javascript">
    $(document).ready(function(){

        $('#home').click(function(){
            $("#content").empty();
        });

        $('#login').click(function(){
            window.location.href='/login';
        //    $("this").load($(this).attr('href'));
        });
        $('a').click(function(e){
            e.preventDefault();
            $("#content").load($(this).attr('href'));
        });
    });

</script>
    {% block javascripts %}{% endblock %}

{% endblock %}

