{% extends 'menu.html.twig' %}
{% block body %}

<nav class="navbar navbar-inverse" style="background-image:url('{{ asset('bundles/images/backgroundLogin.jpg')}}');
    background-size: cover;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SebCom</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;</a></li>
            <li class="dropdown">
                <a id="h" href="#" class="dropdown-toggle" data-toggle="dropdown" > Gestion des Catégories <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li><a href="ajoutcat">Ajouter Catégories</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Modifier Catégories</a></li>

                  </ul>
            </li>
            <li class="dropdown">
                <a id="h" href="#" class="dropdown-toggle" data-toggle="dropdown" > Gestion des Articles <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Ajouter Articles</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Modifier Articles</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a id="h" href="#" class="dropdown-toggle" data-toggle="dropdown" > Gestion des Commandes <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Ajouter Commandes</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Modifier Commandes</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a id="h" href="#" class="dropdown-toggle" data-toggle="dropdown" > Gestion des Livreurs <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Ajouter Livreurs</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Modifier Livreurs</a></li>

                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">

            {% if name is defined %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ name }}</a></li>
            {% endif %}
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
        </ul>
    </div>

</nav>


{% endblock %}

